<div class="media">
    <a class="pull-left" href="{{ url_for('user', nickname=post.author.nickname)}}">
        <img class="media-object" src="{{ post.author.avatar(50) }}">
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            {{ post.author.nickname }} said {{ momentjs(post.timestamp).fromNow() }}:
        </h4>
        <p>{{ post.body }}</p>
        {% if post.author.id == g.user.id %}
        <p><a href="{{ url_for('delete', id=post.id) }}" class="btn btn-xs btn-danger">Delete Post</a></p>
        {% endif %}
    </div>
</div>
